/* @media only screen and (min-width:1215px) {
    #searchicon {
       right: 177px;
    }
}
@media only screen and (min-width:1232px) {
    #searchicon {
        right: 180px;
    }
}
@media only screen and (min-width:1242px) {
    #searchicon {
        right: 182px;
    }
}
@media only screen and (min-width:1252px) {
    #searchicon {
        right: 185px;
    }
}
@media only screen and (min-width:1262px) {
    #searchicon {
        right: 188px;
    }
}
@media only screen and (min-width:1272px) {
    #searchicon {
        right: 190px;
    }
}
@media only screen and (min-width:1282px) {
    #searchicon {
        right: 193px;
    }
}
@media only screen and (min-width:1292px) {
    #searchicon {
        right: 195px;
    }
}
@media only screen and (min-width:1302px) {
    #searchicon {
        right: 198px;
    }
}
@media only screen and (min-width:1312px) {
    #searchicon {
        right: 201px;
    }
}
@media only screen and (min-width:1322px) {
    #searchicon {
        right: 208px;
    }
}
@media only screen and (min-width:1340px) {
    #searchicon {
        right: 211px;
    }
}
@media only screen and (min-width:1352px) {
    #searchicon {
        right: 212px;
    }
}
@media only screen and (min-width:1362px) {
    #searchicon {
        right: 217px;
    }
}
@media only screen and (min-width:1373px) {
    #searchicon {
        right: 220px;
    }
}
@media only screen and (min-width:1383px) {
    #searchicon {
        right: 223px;
    }
}
@media only screen and (min-width:1390px) {
    #searchicon {
        right: 226px;
    }
}
@media only screen and (min-width:1403px) {
    #searchicon {
        right: 229px;
    }
}
@media only screen and (min-width:1412px) {
    #searchicon {
        right: 233px;
    }
}
@media only screen and (min-width:1425px) {
    #searchicon {
        right: 237px;
    }
}
@media only screen and (min-width:1436px) {
    #searchicon {
        right: 241px;
    }
}
@media only screen and (min-width:1452px) {
    #searchicon {
        right: 245px;
    }
}
@media only screen and (min-width:1460px) {
    #searchicon {
        right: 166px;
    }
    .navright input {
        margin-left: 80px;
    }
}
@media only screen and (min-width:1474px) {
    #searchicon {
        right: 170px;
    }
}
@media only screen and (min-width:1483px) {
    #searchicon {
        right: 174px;
    }
}
@media only screen and (min-width:1494px) {
    #searchicon {
        right: 178px;
    }
}
@media only screen and (min-width:1510px) {
    #searchicon {
        right: 182px;
    }
    #navimg1 {
        margin-left: 100px;
    }
}
@media only screen and (min-width:1524px) {
    #searchicon {
        right: 186px;
    }
}
@media only screen and (min-width:1532px) {
    #searchicon {
        right: 189px;
    }
}
@media only screen and (min-width:1543px) {
    #searchicon {
        right: 193px;
    }
}
@media only screen and (min-width:1556px) {
    #searchicon {
        right: 197px;
    }
}
@media only screen and (min-width:1632px) {
    #searchicon {
        right: 218px;
    }
}
@media only screen and (min-width:1682px) {
    #searchicon {
        right: 235px;
    }
    #navimg1 {
        margin-left: 130px;
    }
}
@media only screen and (min-width:1728px) {
    #searchicon {
        right: 247px;
    }
    #navimg1 {
        margin-left: 150px;
    }
}
@media only screen and (min-width:1920px) {
    #searchicon {
        right: 305px;
    }
    #navimg1 {
        margin-left: 170px;
    }
}
@media only screen and (min-width:2016px) {
    #searchicon {
        right: 335px;
    }
    #navimg1 {
        margin-left: 190px;
    }
}
@media only screen and (min-width:2112px) {
    #searchicon {
        right: 362px;
    }
    #navimg1 {
        margin-left: 210px;
    }
} */
